@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
    <head>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/App/ko.Pages.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/App.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/EditViewModel.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/EthnicityViewModel.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/ListViewModel.js")" type="text/javascript"></script>

        <style type="text/css">
            .selected {
                background-color: red;
            }
            
        </style>
        <script type="text/javascript">
            $(function () {
                ko.applyBindings(new App({
                    listTemplatesPageLink : '@Url.Action("GetTemplates", "LetterTemplate")',
                    editTemplatePageLink: '@Url.Action("GetTemplate", "LetterTemplate")',

                    updateTemplateLink: '@Url.Action("UpdateTemplate", "LetterTemplate")',
                    updateShcoolOptions: '@Url.Action("UpdateSchoolOptions", "LetterTemplate")',
                    
                    ethnicityLink : '@Url.Action("Getethnicities", "Ethnicity")',
                    ethnicityUpdateLink : '@Url.Action("UpdateEthnicitys", "Ethnicity")'
                }));
            });
        </script>
        <title>Index</title>
    </head>
    <body>
        <ul data-bind="foreach : menu">
            <li data-bind="css : { selected : $root.selectedMenuItem() == $data }">
                <a href="#" data-bind="text : $data, click : $root.goToPage"></a>
            </li>
        </ul>
        
        <div data-bind="with : ethnicityPage">
            @Html.Partial("_EthnicityLabels")
        </div>

        <div data-bind="with : listTemplatesPage">
            @Html.Partial("_LetterTemplates")
        </div>

        <div data-bind="with : editTemplatePage">
            @Html.Partial("_LetterTemplateEdit")
        </div>
    </body>
</html>
