@{
    Layout = null;
    
}

@helper GetTemplate(string templateName)
{
    @Html.Action("GetTemplate", new { templateName })
}

<!DOCTYPE html>

<html>
    <head>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        
        
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        
        
        <script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/sammy/sammy.min.js")" type="text/javascript"></script>
        
        

        <script src="@Url.Content("~/Scripts/App/ko.Pages.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/App.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/EditViewModel.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/EthnicityViewModel.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/ListViewModel.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/App/ViewModels/SubjectsViewModel.js")" type="text/javascript"></script>

        <style type="text/css">
            .selected {
                background-color: red;
            }
            
        </style>
        <script type="text/javascript">
            $(function () {
                $('.alert').hide();
                ko.applyBindings(new App({
                    listTemplatesPageLink: '@Url.Action("GetTemplates", "LetterTemplate")',
                    editTemplatePageLink: '@Url.Action("GetTemplate", "LetterTemplate")',

                    updateTemplateLink: '@Url.Action("UpdateTemplate", "LetterTemplate")',
                    updateShcoolOptions: '@Url.Action("UpdateSchoolOptions", "LetterTemplate")',

                    ethnicityLink: '@Url.Action("Getethnicities", "Ethnicity")',
                    ethnicityUpdateLink: '@Url.Action("UpdateEthnicitys", "Ethnicity")',
                    
                    subjectsLink : '@Url.Action("GetSubjects", "Subjects")',
                    deleteSubjectLink : '@Url.Action("Delete", "Subjects")',
                    addSubjectLink: '@Url.Action("Add", "Subjects")'                   
                }));
            });
        </script>
        
        @GetTemplate("_EthnicityLabels")
        @GetTemplate("_LetterTemplates")
        @GetTemplate("_LetterTemplateEdit")
        @GetTemplate("_Subjects")

        <title>Index</title>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills" data-bind="foreach : menu">
                <li data-bind="css : { active : $root.selectedMenuItem() == url }">
                    <a href="#" data-bind="text : name, click : $root.goToPage"></a>
                </li>
            </ul> 
            <div id="alert_placeholder"></div>

            <div data-bind="with : ethnicityPage">               
                @Html.Partial("_EthnicityLabels")
            </div>

        <div data-bind="with : listTemplatesPage">
            @Html.Partial("_LetterTemplates")
        </div>

        <div data-bind="with : editTemplatePage">
            @Html.Partial("_LetterTemplateEdit")
        </div>   

        <div data-bind="with : subjectsPage">
            @Html.Partial("_Subjects")
        </div>                 
        </div> 
    </body>
</html>
